body {background-color:violet; margin:0px}
nav ul li{display:inline}
header {margin:0;text-align:center; padding:10; backgroud-color:red;color black}
footer{margin:0;text-align:center;padding:10; background-color:purple;color black}
h1{text-align:center;color:blue}

